@import "../../abstracts/mixins";
@import "../../abstracts/variables";
.div1009{
    height:83.5vh;

}
.form{
    display: flex;
    
    flex-direction: column;
    
    margin-top:125px;
    background-color: $color-secundario;
    border-radius: 15px;
    width: 80%;
}
.emailadd{
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.button{
    background-color: $color-primario;
}
.button:hover{
    background-color: $color-primario;
}
@media only screen and (min-width: 0px) and (max-width: 768px) {
    .form{
        width:100%
    }
}